@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation-dropdown {
  animation: dropdown 180ms ease-out;
  margin-top: -4px;
}