<footer class="bg-footer w-full py-8 text-white">
  <div class="container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between gap-6">
    
    <!-- Columna izquierda -->
    <div class="flex flex-col">
        <span class="text-2xl font-semibold">Anuncia Facil</span>
        <span class="text-sm opacity-80">
            © 2024 Anuncia Facil. Todos los derechos reservados.
        </span>
    </div>

    <!-- Columna derecha -->
    <div class="flex flex-col items-start md:items-end">
        <span class="text-lg font-semibold mb-2">Desarrollado por:</span>
        <ul class="text-sm font-normal space-y-1 opacity-90">
            <li>Axel Jeanpier Del Solar León</li>
            <li>Paul Dennis Yauli Misco</li>
            <li>Danny Emanuel Joyo Orellana</li>
            <li>Lady Samantha Parodi Moncayo</li>
            <li>Cristian Alexander Quispe Janampa</li>
        </ul>

        <span class="text-md mt-4"><b>Contacto:</b> anunciofacil@email.com</span>
    </div>

  </div>
</footer>
