<div class="card">
  <div class="card-image">
    @if (item.imagenes) {
      <img [src]="item.imagenes" [alt]="item.titulo">
    } @else {
      <img src="https://placehold.co/300x200?text=Sin+Foto" alt="Sin imagen">
    }
  </div>

  <div class="card-body">
    <h3>{{ item.titulo }}</h3>
    
    <div class="info">
      <span>👤 {{ item.usuario.nombre }}</span>
    </div>

    <div class="info">
      <span>🏷️ {{ item.categoria.nombreCategoria || 'General' }}</span>
    </div>

    <button class="btn-ver">Ver Publicación</button>
  </div>
</div>